-
	var menu_items = ["Home", "About Us", "Our Approch", "Our Work"]
	var title__services = ["hand", "book", "chat"]

-
	var services__item = [
		{	title: "Facebook Marketing",
			description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever",
			class: "hand"
		},
		{	title: "landing pages Creation",
			description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever",
			class: "book"
		},
		{
			title: "Ads management",
			description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever",
			class: "chat"
		}

	]

